/*
#212121 #424242 #616161 #757575 #bdbdbd #e0e0e0
#0091ea #00b0ff #40c4ff #80d8ff
*/
h1 {
  color: #212121;
  position: absolute;
  left: 100px;
}

.body {
  background-color: #bdbdbd;
  height: 1000px;
  position: static;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100px;
}

.bottom {
  background-color: #9e9e9e;
  height: 100px;
  position: static;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100px;
}

.header {
  background-color: #40c4ff;
  height: 100px;
  position: static;
}

.sidebar {
  background-color: #424242;
  height: 1600px;
  width: 100px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
